body{
    width: 100vw;
    height: 100vh;

    background-image: url(../assets/image/body/bg-site.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/

header{
    height: 75px;
    padding-top: 10px;
    padding-left: 160px;
    padding-right: 160px;

    background-image: url(../assets/image/call-to-action/Rectangle\ 151.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid #FF5E00;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 142px;

    font-family: "Poppins", sans-serif;
}

.tittle-header{
    display: flex;
    gap: 8px;
    align-items: center;
}

.tittle-header > img{
    width: 25px;
    height: 25px;
}

.tittle-header > h1{
    font-size: 16px;
    color: #FF5E00;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    font-size: 16px;
    color: black;
    
}

header > button{
    width: 161px;
    height: 43px;
    border-radius: 8px;

    font-size: 16px;
    color: white;

    background-color: #FF5E00;
}

/*hero*/

.hero{
    padding-top: 212px;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 211px;
}

.content-hero{
    margin-right: 727px;

    display: flex;
    flex-direction: column;
    gap: 56px;
}

.content-hero > h1{
    font-size: 80px;
    font-family: "Sedgwick Ave Display", sans-serif;
}

.carro-hero{
    color: #FF5E00;
}

.content-hero > p{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.contact-hero{
    width: 1300px;
    height: 72px;
    padding-left: 32px;
    padding-right: 12px;
    box-shadow: inset 0 0 0 3px #FF5E00;

    display: flex;
    background-image: url(../assets/image/call-to-action/Rectangle\ 151.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;

    border-radius: 12px;
}

.contact-hero aside{
    display: flex;
    gap: 16px;
}

.contact-hero h1{
    font-family: "Sedgwick Ave Display", sans-serif;
}

.contact-hero p{
    font-family: "Poppins", sans-serif;
    color: #6D6D6D;
}

.visit-hero{
    border-left: 2px solid rgb(166, 165, 165);
    padding-left: 20px;
}

.content-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-hero > button{
    width: 159px;
    height: 48px;

    background-color: #FF5E00;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/*sobre nós*/

.about-us{

    padding: 460px 357px 80px 613px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.about-us > h1{
    font-size: 60px;
    font-family: "Sedgwick Ave Display", sans-serif ;
}

.about-us > p{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

/*principais serviços*/

.main-services{
    
    padding: 190px 163px 184px 163px;

    display: flex;
    gap: 105px;
    flex-direction: column;
    align-items: center;
}

.main-services > h1{
    font-size: 52.25px;
    font-family: "Sedgwick Ave Display", sans-serif;
}

.main-services button::before{
    display: block;
    content: "";
    background-image: url(../assets/image/main-services/vector-de-spray-de-graffiti-dinamico-design-audaz-e-artistico-para-arte-de-rua-e-temas-de-cultura-urbana_579306-15873.avif);
    width: 50px;
}


.services{
    display: flex;
    gap: 30px;
}

.lavagem{    
    padding-bottom: 24px;
    
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 18px;
    border: 3px solid #FF5E00;
}

.lavagem > img{
    width: 270px;
    height: 155px;
    margin-right: none;

    display: flex;
    justify-content: flex-start;
}

.content-lavagem{
    padding-top: 10px;
    padding-left: 24px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tittle-lavagem{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tittle-lavagem > h1{
    font-family: "Sedgwick Ave Display", sans-serif;
}

.comercial{
    display: flex;
    gap: 5px;
}

.comercial > p{
    font-size: 12px;
    color: #959595;
}

.premium{
    display: flex;
    gap: 5px;
}

.premium > p{
    font-size: 12px;
    color: #959595;
}

.contract-lavagem{
    padding-top: 24px;
    border-top: 1px solid #E0E0E0;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contract-lavagem > button{
    width: 208px;
    height: 40px;

    background-color: #FF5E00;
    color: white;
    font-size: 14px;

    border-radius: 8px;
}


.value-lavagem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.value-lavagem > p{
    font-size: 14px;
    color: #595959;
}

.value-lavagem > h1{
    font-size: 16px;
}

.polimento{    
    padding-bottom: 24px;
    
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 18px;
    border: 3px solid #FF5E00;
}

.polimento > img{
    width: 285px;
    height: 155px;
    margin-right: none;

    display: flex;
    justify-content: flex-start;
}

.content-polimento{
    padding-top: 10px;
    padding-left: 24px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tittle-polimento{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tittle-polimento > h1{
    font-family: "Sedgwick Ave Display", sans-serif;
}

.polimento-farois{
    display: flex;
    gap: 5px;
}

.polimento-farois > p{
    font-size: 12px;
    color: #959595;
}

.polimento-tecnico{
    display: flex;
    gap: 5px;
}

.polimento-tecnico > p{
    font-size: 12px;
    color: #959595;
}

.contract-polimento{
    padding-top: 24px;
    border-top: 1px solid #E0E0E0;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contract-polimento > button{
    width: 208px;
    height: 40px;

    background-color: #FF5E00;
    color: white;
    font-size: 14px;

    border-radius: 8px;
}

.value-polimento{
    display: flex;
    align-items: center;
    gap: 5px;
}

.value-polimento > p{
    font-size: 14px;
    color: #595959;
}

.value-polimento > h1{
    font-size: 16px;
}

.higienizacao{    
    padding-bottom: 24px;
    
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 18px;
    border: 3px solid #FF5E00;
}

.higienizacao > img{
    width: 285px;
    height: 155px;
    margin-right: none;

    display: flex;
    justify-content: flex-start;
}

.content-higienizacao{
    padding-top: 10px;
    padding-left: 24px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tittle-higienizacao{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tittle-higienizacao > h1{
    font-family: "Sedgwick Ave Display", sans-serif;
}

.interna{
    display: flex;
    gap: 5px;
}

.interna > p{
    font-size: 12px;
    color: #959595;
}

.profunda{
    display: flex;
    gap: 5px;
}

.profunda > p{
    font-size: 12px;
    color: #959595;
}

.contract-higienizacao{
    padding-top: 24px;
    border-top: 1px solid #E0E0E0;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contract-higienizacao > button{
    width: 208px;
    height: 40px;

    background-color: #FF5E00;
    color: white;
    font-size: 14px;

    border-radius: 8px;
}

.value-higienizacao{
    display: flex;
    align-items: center;
    gap: 5px;
}

.value-higienizacao > p{
    font-size: 14px;
    color: #595959;
}

.value-higienizacao > h1{
    font-size: 16px;
}

.limpeza{    
    padding-bottom: 24px;
    
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 18px;
    border: 3px solid #FF5E00;
}

.limpeza > img{
    width: 285px;
    height: 155px;
    margin-right: none;

    display: flex;
    justify-content: flex-start;
}

.content-limpeza{
    padding-top: 10px;
    padding-left: 24px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tittle-limpeza{

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tittle-limpeza > h1{
    font-family: "Sedgwick Ave Display", sans-serif;
}

.nivel-um{
    display: flex;
    gap: 5px;
}

.nivel-um > p{
    font-size: 12px;
    color: #959595;
}

.nivel-dois{
    display: flex;
    gap: 5px;
}

.nivel-dois > p{
    font-size: 12px;
    color: #959595;
}

.contract-limpeza{
    padding-top: 24px;
    border-top: 1px solid #E0E0E0;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contract-limpeza > button{
    width: 208px;
    height: 40px;

    background-color: #FF5E00;
    color: white;
    font-size: 14px;

    border-radius: 8px;
}

.value-limpeza{
    display: flex;
    align-items: center;
    gap: 5px;
}

.value-limpeza > p{
    font-size: 14px;
    color: #595959;
}

.value-limpeza > h1{
    font-size: 16px;
}

.projects{
    padding-top: 270px;
    padding-left: 722px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 82px;
}

.projects > h1{
    font-size: 55.94px;
    font-family: "Sedgwick Ave Display", sans-serif;
}

.content-projects{
    margin-right: -24px;
    margin-top: -15px;

    display: flex;
    gap: 150px;
    align-items: center;
}

.bg-video-projects{
    margin-left: 114px;
    width: 500px;
    height: 835px;

    border-radius: 32px;

    background-image: url(../assets/image/projects/video-bg.png);
    background-size: cover;
}

.btns-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;

}

.btns-projects button{
    width: 220px;
    height: 110px;
    border: 3px solid #FF5E00;
    border-radius: 16px;

    font-family: "Sedgwick Ave Display", sans-serif;
    color: #FF5E00;
    font-size: 48.59px;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);

    background-image: url(../assets/image/fundos1.png);
}

#btn-higienizacao-projects{
    font-size: 37px;
}

.sobre-nos{
    padding-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;

    font-family: "Sedgwick Ave Display", sans-serif;
}

.sobre-nos > h1{
    font-size: 61.22px;

    margin-right: 580px;
}

.avaliacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bloco-um{
    display: flex;
    gap: 422px;
}

.avalacao-um{
    width: 439px;
    height: 216px;

    background-image: url(../assets/image/fundos1.png);
    border: 3px solid #FF5E00;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content-avaliacao-um{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-avaliacao-um > p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.avaliacao-dois{
    width: 439px;
    height: 216px;

    background-image: url(../assets/image/fundos1.png);
    border: 3px solid #FF5E00;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content-avaliacao-dois{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-avaliacao-dois > p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.bloco-dois{
    display: flex;
    justify-content: center;
    gap: 422px;
}

.avalacao-tres{
    width: 439px;
    height: 216px;

    background-image: url(../assets/image/fundos1.png);
    border: 3px solid #FF5E00;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content-avaliacao-tres{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-avaliacao-tres > p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.bloco-tres{
    display: flex;
    gap: 422px;
}

.avalacao-quatro{
    width: 439px;
    height: 216px;

    background-image: url(../assets/image/fundos1.png);
    border: 3px solid #FF5E00;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content-avaliacao-quatro{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-avaliacao-quatro > p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.avaliacao-cinco{
    width: 439px;
    height: 216px;

    background-image: url(../assets/image/fundos1.png);
    border: 3px solid #FF5E00;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.content-avaliacao-cinco{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-avaliacao-cinco > p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.call-to-action{
    width: 100vw;
    height: 100vh;
    padding-top: 350px;

    display: flex;
    justify-content: center;
    gap: 165px;
}

.content-action{
    width: 489px;
    height: 334px;

    background-image: url(../assets/image/call-to-action/wall.png);
    box-shadow: inset 0 0 0 2px #FF5E00;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33.55px;
}

.text-action{
    display: flex;
    flex-direction: column;
    gap: 10.45px;
    align-items: center;
}

.text-action > p{
    font-size: 23.51px;
    font-family: "Poppins", sans-serif;
}

.text-action > h1{
    font-size: 48.59px;
    font-family: "Sedgwick Ave Display", sans-serif;
    color: #FF5E00;
}

.content-action > button{
    width: 159px;
    height: 48px;

    background-color: #FF5E00;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer {
    font-family: "Poppins", sans-serif;
    color: #D6D6D6;
    background-color: #262626;

    padding: 52px 160px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 30px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

footer li {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

footer img {
    width: 24px;
    height: 24px;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #E95600;
    transform: scale(1.05);
    transition-duration: 0.3s;
}